body{
    background-color: #0B0E1A;
}
.container{
    background-color: #0B0E1A;
}
main{
    padding-left: 12.5%;
    padding-right: 12.5%;
}
.nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #183D3D;
    overflow: hidden;
}
.nav-title {
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    display: inline-block;
    padding-left: 10%;
}
.text-body-emphasis {
    --bs-text-opacity: 1;
    color: rgb(255, 255, 255) !important;
}
h1{
    font-size: 60px  !important; 
    padding-bottom: 0rem;
}
h2{
    font-size: 50px  !important; 
    padding-bottom: .5rem;
}
p{
    padding-bottom: 9rem;
}
.experience{
    color: white;
    text-align: center;
    margin: 5rem;
}
.project{
    border-radius: .3rem;
}
.stack-title{
    text-align: center;
    color: #ffffff;
    padding: 6.5rem;
}